{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/chart.css' %}">
    <link rel="stylesheet" href="{% static 'css/chart.min.css' %}">


    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}

</head>
<body>
  {% static 'css/style.css' %}
{% block header %}
    {% include 'base/header.html' %}
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}


<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js'%}"></script>
<script src="{% static 'js/chart.js'%}"></script>
<script src="{% static 'js/chart.min.js'%}"></script>
{% block javascript %}{% endblock %}
    <script>
        $(document).ready(function () {
            // cool nav menu
            $(window).on('load resize', function () {
              var $thisnav = $('.current-menu-item').offset().left;

              $('.menu-item').hover(function () {
                var $left = $(this).offset().left - $thisnav;
                var $width = $(this).outerWidth();
                var $start = 0;
                $('.wee').css({ 'left': $left, 'width': $width });
              }, function () {
                var $initwidth = $('.current-menu-item').width();
                $('.wee').css({ 'left': '0', 'width': $initwidth });
              });
            });

          });
          //# sourceURL=pen.js

    </script>
    <script>
        $(document).ready(function(){
          $(".owl-carousel").owlCarousel({
              loop:true,
            margin:20,
            autoplay:true,
          });
        })
        </script>
    <script>
        $(window).on('load resize', function () {
            var this_pos = $('#sub-menu1').offset().left;
            var this_width = $(this).outerWidth();
        $('#sub-menu1').hover(function() {
            var left = $(this).offset().left - this_pos
            console.log(this_width,this_pos)
            $('#sub-menu1-contain').css({'left': this_pos + this_width/64});
            $('#sub-menu1-contain').show('#sub-menu1-contain');
            }
            );
        $('#sub-menu1').mouseleave(function () {
                setter = setTimeout(function () {
                   console.log("hidden from foo")
                   $('#sub-menu1-contain').hide('#sub-menu1-contain')
               }, 100);
           });
        $('#sub-menu1-contain').mouseenter(function() {
            clearTimeout(setter);

            }),
        $('#sub-menu1-contain').mouseleave(function() {
            $('#sub-menu1-contain').hide('#sub-menu1-contain');
            });
       });
    </script>
</body>
</html>