{% load static %}

<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/aos-styles.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/aos-main.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/owl.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/chart.css' %}">
    <link rel="stylesheet" href="{% static 'css/chart.min.css' %}">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <style>body {font-family: "B Traffic";
    background-color: rgba(177, 177, 177, 0.15);
    }
    </style>

<style>
    #textdiv {
   animation: textgrowth 1s infinite alternate;
}

@keyframes textgrowth {
    0% {
    font-size: 20px;
        color: #ff0000;
    }
    50% {
    font-size: 45px;
    }
    100% {
    font-size: 70px;
        color: #fdfdfd;
    }
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}
.disabled-link{
        cursor: default;
        pointer-events: none;
        text-decoration: none;
        color: grey;
    }
.pointer {cursor: pointer;}
</style>
</head>
<body>
{% block header %}
    {% include 'base/header.html' %}
{% endblock %}

{% block body %}
{% endblock %}

{% if request.user.is_authenticated %}
    <div id="profile_contain" class="bg-light card-body border shadow" style=" position: fixed; bottom: 110px; right: 20px;width: 15%; z-index: 100;display: none; ">
      <p>{{ profile.first_name }}<br>
          {{ profile.last_name }}<br>
          <a class="nav-link" href="{% url 'logout' %}"> خروج </a>
      </p>
    </div>
    <div id="foo" style=" position: fixed; bottom: 20px; right: 20px; z-index: 1000">
        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"></path>
      <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
      <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"></path>
    </svg>
    </div>
{% endif %}
{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}


<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js'%}"></script>
<script src="{% static 'js/aos-highlight.min.js'%}"></script>
<script src="{% static 'js/aos.js'%}"></script>
<script src="{% static 'js/chart.js'%}"></script>
<script src="{% static 'js/chart.min.js'%}"></script>

{% block javascript %}{% endblock %}
    <script>
        {#$(document).ready(function () {#}
            // cool nav menu
            $(window).on('load resize', function () {
              var $thisnav = $('.current-menu-item').offset().left;

              $('.menu-item').hover(function () {
                var $left = $(this).offset().left - $thisnav;
                var $width = $(this).outerWidth();
                var $start = 0;$('.wee').show()
                $('.wee').css({ 'left': $left, 'width': $width });
              }, function () {
                var $initwidth = $('.current-menu-item').width();
                {#$('.wee').css({ 'left': '0', 'width': $initwidth });#}
                $('.wee').hide();
              });
            });
         // });
          //# sourceURL=pen.js
    </script>

    <script>
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            if (scroll >= 150 && scroll<200) {
                $("#main_bar").css("display","none")}
            if (scroll >= 200) {
                $("#main_bar").css("position","fixed");
                $("#main_bar").delay(1000).show();
                $("#basket_contain").css("top","110px");
            } else {
                $("#main_bar").css("position","relative");
                $("#basket_contain").css("top","210px");
            }
        });
    </script>

    <script>
        function show_cat_image(cat_id) {
            select_cell = "#cat_image"+cat_id
            select_cell2 = "#cat_menu"+cat_id
            console.log(select_cell)
            $(select_cell).show(select_cell)
            $(select_cell2).mouseout(
                $(select_cell).hide()
            )}
    </script>

{#    <script>#}
{#        $(document).ready(function(){#}
{#          $(".owl-carousel").owlCarousel({#}
{#              loop:true,#}
{#            margin:20,#}
{#            autoplay:true,#}
{#          });#}
{#        })#}
{#    </script>#}
    <script>
        $(window).on('load resize', function () {
            var this_pos = $('#sub-menu1').offset().left;
            var this_width = $(this).outerWidth();
        $('#sub-menu1').hover(function() {
            var left = $(this).offset().left - this_pos
            console.log(this_width,this_pos)
            $('#sub-menu1-contain').css({'left': this_pos - this_width/4});
            $('#sub-menu1-contain').show('#sub-menu1-contain');
            }
            );
        $('#sub-menu1').mouseleave(function () {
                setter = setTimeout(function () {
                   console.log("hidden from foo")
                   $('#sub-menu1-contain').hide('#sub-menu1-contain')
               }, 100);
           });
        $('#sub-menu1-contain').mouseenter(function() {
            console.log("mouse over sub menu")
            clearTimeout(setter);

            }),
        $('#sub-menu1-contain').mouseleave(function() {
            $('#sub-menu1-contain').hide('#sub-menu1-contain');
            });
       });
    </script>
    <script>
        $(document).ready(function () {
            $('#foo').mouseenter(function () {
                console.log("show")
                console.log("clear timeout")
                clearTimeout(setter);
                $('#profile_contain').fadeIn('#profile_contain')
            })
        })
    </script>
    <script>
        var setter;
            $('#foo').mouseleave(function () {
                 setter = setTimeout(function () {
                    console.log("hidden from foo")
                    $('#profile_contain').fadeOut('#profile_contain')
                }, 2000);
            });
            $('#profile_contain').mouseenter(function () {
                console.log("clear timeout")
                clearTimeout(setter);
            })
            $('#profile_contain').mouseleave(function () {
                     setter = setTimeout(function () {
                    console.log("hidden from profile")
                    $('#profile_contain').fadeOut('#profile_contain')
                }, 2000);
            });
    </script>

    <script>
        $(document).ready(function () {
            $('#shoo').mouseenter(function () {
                console.log("show")
                console.log("clear timeout")
                clearTimeout(setter);
                $('#basket_contain').css({
                        'visibility': 'visible'
                    })
            })
        })
    </script>
    <script>
        var setter;
            $('#shoo').mouseleave(function () {
                 setter = setTimeout(function () {
                    console.log("hidden from foo")
                    $('#basket_contain').css({
                        'visibility': 'hidden'
                    })
                }, 2000);
            });
            $('#basket_contain').mouseenter(function () {
                console.log("clear timeout")
                clearTimeout(setter);
            })
            $('#basket_contain').mouseleave(function () {
                     setter = setTimeout(function () {
                    console.log("hidden from profile")
                    $('#basket_contain').css({
                        'visibility': 'hidden'
                    })
                }, 2000);
            });
    </script>
    <script>
     $(document).ready(() => {
    $(".cat_sel").hover(function(){
       $(this).css("opacity", "1.0");
    }, function(){
       $(this).css("opacity", "0.4");
    });
});
    </script>
</body>
</html>