{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/chart.css' %}">
    <link rel="stylesheet" href="{% static 'css/chart.min.css' %}">
    <link href="{% static 'css/toast.style.min.css' %}" rel="stylesheet">


    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
<style>

</style>

</head>
<body>
{% block body %}
{% endblock %}




<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.js'%}"></script>
<script src="{% static 'js/chart.js'%}"></script>
<script src="{% static 'js/chart.min.js'%}"></script>
<script src="{% static 'js/toast.script.js' %}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>