{% load static %}
<div id="link-contain" class="d-flex justify-content-center align-items-center flex-row border border-warning mw-100" style="height:10%; width:100%">
            ads
        </div>
        <div id="footer-contain" class="d-flex justify-content-center align-items-center flex-row border border-warning mw-100" style="height:10%; width:100%">
            استفاده از مطالب فروشگاه اینترنتی کالابای فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به دانشجوی مکتب شریف می‌باشد.
        </div>