{% load static %}

    <div class="container mw-100 justify-content-between">
        <div class="d-flex flex-row mw-100 text-white bg-danger justify-content-center align-items-center" style="height:10%; width:100%">
            <h1>با ما همیشه برنده خواهید بود.</h1>
        </div>
        <div class="d-flex flex-row bg-light nav-bar  sticky-top  justify-content-between p-4 align-items-center" style="height:14%; width:100%;z-index:1000;">
            <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-cart3 text-success" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
        <div class="mw-100 "><input class="form-control rounded" required type="text" placeholder="ورود به حساب کاربری" style="width: 100%; height:80%" > </div>
        <div class="mw-100 col-8 d-flex justify-content-center"><input class="form-control rounded" required type="text" placeholder="اینجا دنبال کالایی که دنبالشید بگردید" style="width: 70%; height:80%;" >
            <svg style="cursor: pointer; margin: 5px -30px;" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-search text-info" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg> </div>
        <div class="mw-100 "> <img src="{% static 'marketing.png' %}" alt="{% static 'marketing.png' %}" width="100%" height="100%" ></div>
    </div>
        <div class="container" style="height:14%; width:100%">
            <div class="menu">
                <div class="menu-item current-menu-item">
                  <h6>تماس با ما</h6>
                  <div class="wee" style="left: 0px; width: 81.7188px;"></div>
                </div>
                <div class="menu-item">
                  <h6>سفارش ویژه</h6>
                </div>
                <div class="menu-item">
                  <h6>فروشگاهها</h6>
                </div>
                <div class="menu-item">
                  <h6 id="sub-menu1">کالا و محصولات</h6>
                </div>
                <div class="menu-item">
                  <h6>صفجه اصلی</h6>
                </div>
              </div>
              <div class="bg-dark" id="sub-menu1-contain" style="position: absolute;display: none; height:30%; width:40%; z-index:100;"> گروه بندیها</div>

              <div class="me"><a href="https://github.com/cmdeveloped" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/collinscode_" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://codepen.io/collinscode" target="_blank"><i class="fab fa-codepen"></i></a>
                <a href="https://linkedin.com/in/cmdeveloped" target="_blank"><i class="fab fa-linkedin-in"></i></a></div>
</div>