{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<style>
* {
  box-sizing: border-box;
}
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

.divsel {
  height:220px;
  width:100%;
  background:#59cce0;
  z-index:0;
  position: relative;
}

/* text */
.spansel,.asel {
  color:#fff;
  left:50%;
  transform:translate(-50%,-50%);
  position: absolute;
  display: inline-block;
  font-size:30px;
  font-family:'open sans',sans-serif;
  letter-spacing:-1px;
  font-weight:bold;
}
.spansel {
  top:50%;
}
.asel {
  color:#bbb;
  font-size:11px;
  bottom:20px;
  font-weight:400;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:1px;
}
/* Shine */
.divsel:after {
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:220px;
	position: absolute;
	z-index:1;
	animation: slide 1s infinite;

  /*
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/
  */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

.product_over:hover {
    transition: ease-in;
    background-color: rgba(123,144,324,.2);
    animation: alternate;
    transform: scale(1.2);
    box-shadow: #0B0A0A;
    color: #b21f2d;
}
.mobile_over:hover {
    transition: ease-in-out;
    background-color: rgba(002,112,114,.3);
    animation: ease-in-out;
    transform: rotate(5deg);
    box-shadow: #0B0A0A;
    color: #dc2743;
    z-index: 100;
}
.book_over:hover {
    transition: ease-out;
    background-color: rgba(002,112,114,.3);
    animation: ease;
    transform: scale(1.3);
    box-shadow: #0B0A0A;
    color: #dc2743;
    z-index: 100;
}
</style>
{% endblock %}
{% block title %}
   صفحه اصلی کالابای
{% endblock %}
{% block body %}
  <div id="ads-contain" class="container d-flex flex-wrap mw-100 justify-content-between" style="height: 50%">
      <div id="owl-contain" class="d-flex d-none d-md-flex col-md-12 col-lg-4">
          <img src="../static/1231241.jpg" alt="ads" width="100%" >
      </div>
      <div id="owl-contain" class="col-8 w-100">
          <div id="demo" class="carousel slide" data-ride="carousel">
              <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              <div class="carousel-inner">
                 {% for slide in slides %}
                     {% if forloop.first %}
                     <div class="carousel-item active">
                        <img src="{{ slide.background.url }}" alt="{{ slide.background.url }}" width="1100" height="100%">
                        <div class="carousel-caption">
                            <h3>{{ slide.title }}</h3>
                            <p>{{ slide.subtitle }}</p>
                            <a class="btn btn-outline-success" href="{{ slide.action_url }}">{{ slide.action_text }}</a>
                        </div>
                     </div>
                     {% else %}
                        <div class="carousel-item">
                            <img src="{{ slide.background.url }}" alt="{{ slide.background.url }}" width="1100" height="100%">
                            <div class="carousel-caption">
                                <h3>{{ slide.title }}</h3>
                                <p>{{ slide.subtitle }} </p>
                                <a class="btn btn-outline-success" href="{{ slide.action_url }}">{{ slide.action_text }}</a>
                            </div>
                        </div>
                     {% endif %}
                  {% endfor %}
              </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
          </div>
      </div>

  </div>
<div id="office-contain" class="container d-flex flex-wrap mw-100 justify-content-center" >
            {% for product in office_products %}
                 <a class="justify-content-center col-sm-12 col-md-6 col-lg-3" href="{% url 'product_id' product.product.id %}">
                     <div class="book_over px-1 py-1 justify-content-center"  data-aos="zoom-in">
                                <div><img src="{{ product.product.image.url }}" alt="{{ product.product.name }}"></div>
                                <div class="d-flex flex-wrap justify-content-center">
                                        <div class="col-12">{{ product.product.name }}</div>
                                        <div class="col-12">برند:{{ product.product.brand }}</div>
                                        <div class="col-12">فروشنده: فروشگاه {{ product.shop }}</div>
                                        <div class="col-12"> گارانتی اصالت و سلامت</div>
                                    {% if product.discount > 0  %}
                                        <div class="text-black-50 col-6">قیمت فروشنده:<del>{{ product.price|intcomma }}</del></div>
                                        <div class="bg-danger col-2 rounded-pill text-light d-flex    justify-content-center"> %{{ product.discount }}</div>
                                        <div class="d-flex col-12 justify-content-center"> مبلغ : {{ product.net_price|intcomma }} تومان </div>
                                    {% else %}
                                        <div class="text-black col-12">
                                        قیمت فروشنده:{{ product.price|intcomma }}</div>
                                    {% endif %}
                                </div>
                     </div>
                 </a>
            {% endfor %}
</div>
<div id="category-contain" class="container d-flex flex-wrap justify-content-center  align-content-center align-items-center flex-row nav-bar">
            {% for category in category_list %}
                {% if category.parent is None %}
                <div class="d-flex col-sm-12 col-md-6 col-lg-4 p-1 h-75  justify-content-center ">
                    <div class=" p-1 h-100 align-content-center" data-aos="fade-right" >
                    <div class="cat_sel" style="opacity: 0.4; cursor: pointer;  "><a href="{% url 'category_slug' category.slug %}"> <img src="{{ category.image.url }}" alt="category name" width="100%" height="100%" ></a>
                    </div>
                    <div >{{ category.name }} </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
</div>
<div id="mobile-contain" class="container d-flex flex-wrap justify-content-center mw-100">
            {% for product in mobile_products %}
                 <a class="col-sm-12 col-md-6 col-lg-2" href="{% url 'product_id' product.product.id %}">
                     <div class="mobile_over px-1 py-1" data-aos="flip-up">
                            <div class="  ">
                                <div><img src="{{ product.product.image.url }}" alt="{{ product.product.name }}" width="100%"></div>
                                <div class="d-flex row justify-content-center">
                                        <div class="col-12">{{ product.product.name }}</div>
                                        <div class="col-12">برند:{{ product.product.brand }}</div>
                                        <div class="col-12">فروشنده: فروشگاه {{ product.shop }}</div>
                                        <div class="col-12"> گارانتی اصالت و سلامت</div>
                                    {% if product.discount > 0  %}
                                        <div class="text-black-50">قیمت فروشنده:<del>{{ product.price|intcomma }}</del></div>
                                        <div class="bg-danger w-25 rounded-pill text-light d-flex    justify-content-center"> %{{ product.discount }}</div>
                                        <div class="d-flex justify-content-center"> مبلغ : {{ product.net_price|intcomma }} تومان </div>
                                    {% else %}
                                        <div class="text-black"><br>
                                        قیمت فروشنده:{{ product.price|intcomma }}</div>
                                    {% endif %}
                                </div>
                            </div>
                     </div>
                 </a>
            {% endfor %}
           <div class="col-sm-12 col-md-2 m-1"><h2>موبایل ها</h2></div>
</div>
<div id="cloth-contain" class="container d-flex flex-wrap justify-content-start">
           <div class="col-sm-12 col-md-2"><h2>پوشاک</h2></div>
            {% for product in cloth_products %}
                 <a class="col-sm-12 col-md-6 col-lg-3 m-1" href="{% url 'product_id' product.product.id %}">
                     <div class="product_over px-1 py-1" data-aos="flip-down">
                            <div class="  ">
                                <div><img src="{{ product.product.image.url }}" alt="{{ product.product.name }}" width="100%" height="50%"></div>
                                <div class="  bg-light d-flex row justify-content-center">
                                        <div class="col-12">{{ product.product.name }}</div>
                                        <div class="col-12">برند:{{ product.product.brand }}</div>
                                        <div class="col-12">فروشنده: فروشگاه {{ product.shop }}</div>
                                        <div class="col-12"> گارانتی اصالت و سلامت</div>
                                    {% if product.discount > 0  %}
                                        <div class="text-black-50">قیمت فروشنده:<del>{{ product.price|intcomma }}</del></div>
                                        <div class="bg-danger w-25 rounded-pill text-light d-flex    justify-content-center"> %{{ product.discount }}</div>
                                        <div class="d-flex justify-content-center"> مبلغ : {{ product.net_price|intcomma }} تومان </div>
                                    {% else %}
                                        <div class="text-black"><br>
                                        قیمت فروشنده:{{ product.price|intcomma }}</div>
                                    {% endif %}
                                </div>
                            </div>
                     </div>
                 </a>
            {% endfor %}

</div>
        <div class="col-sm-12 h3">جدید ترینها</div>
<div class="container row mw-100">

     <div class="owl-carousel owl-two owl-rtl owl-theme  owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                     {% for product in shop_products %}
                         {% if forloop.counter <= 5 %}
                             <div class="owl-item active">
                                 <div class="container d-flex mw-100 bg-light border shadow">
                                     <a href="{% url 'product_id' product.id %}">
                                             <div><img src="{{ product.product.image.url }}" alt="{{ product.product.name }}" width="300px" height="280px"></div>
                                             <div>{{ product.product.name }}<br>
                                             قیمت {{ product.net_price }}</div>
                                     </a>
                                 </div>
                             </div>
                         {% endif %}
                         {% if forloop.counter > 5 %}
                             <div class="owl-item">
                                 <div class="container d-flex justify-content-center mw-100 bg-light border shadow">
                                     <a href="{% url 'product_id' product.id %}">
                                         <div><img src="{{ product.product.image.url }}" alt="{{ product.product.name }}" width="300px" height="280px"></div>
                                         <div>{{ product.product.name }}</div>
                                         <div> قیمت{{ product.net_price }}</div>
                                     </a>
                                 </div>
                             </div>
                         {% endif %}
                     {% endfor %}
                </div>
            </div>
     </div>
</div>

{% endblock %}

{% block javascript %}
    <script>
$(document).ready(function() {
    $(".owl-two").owlCarousel({
        rtl: true,
        nav: true,
        items: 5,
        loop: true,
        autoplay: true,
        autoplayTimeout: 7000,
        autoplaySpeed: 1400,
        autoplayHoverPause: true,
        navigation: true,
        slideSpeed: 300,
        paginationSpeed: 400,
        singleItem: false,
        autoHeight: false,
         responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:true
        },
        1000:{
            items:5,
            nav:true,
            loop:true
        }
    }
    });
})
    </script>
    <script>
        AOS.init({
          duration: 1200,
        })
    </script>
{% endblock %}


{#    <div class="item" data-aos="fade-up">1</div>#}
{#<div class="item" data-aos="fade-down">2</div>#}
{#<div class="item" data-aos="fade-right">3</div>#}
{#<div class="item" data-aos="fade-left">4</div>#}
{##}
{#<div class="item" data-aos="zoom-in">5</div>#}
{#<div class="item" data-aos="zoom-out">6</div>#}
{##}
{#<div class="item" data-aos="slide-up">7</div>#}
{##}
{#<div class="item" data-aos="flip-up">8</div>#}
{#<div class="item" data-aos="flip-down">9</div>#}
{#<div class="item" data-aos="flip-right">10</div>#}
{#<div class="item" data-aos="flip-left">11</div>#}


{#                        {% for product in shop_products %}#}
{#                          {% if forloop.counter <= 3 %}#}
{#                            <div class="owl-item active" style="width: 271.333px; margin-right: 10px;">#}
{#                                <div class="item">#}
{#                 <a class="nav-link" href="{% url 'product_id' product.product.id %}">#}
{#                     <div class="d-flex col-3 bg-light">#}
{#                            <div class="  ">#}
{#                                <div><img src="{{ product.product.image.url }}" alt="{{ product.product.name }}"></div>#}
{#                                <div class="  bg-light d-flex row justify-content-center">#}
{#                                        <div class="col-12">{{ product.product.name }}</div>#}
{#                                        <div class="col-12">برند:{{ product.product.brand }}</div>#}
{#                                        <div class="col-12">فروشنده: فروشگاه {{ product.shop }}</div>#}
{#                                        <div class="col-12"> گارانتی اصالت و سلامت</div>#}
{#                                    {% if product.discount > 0  %}#}
{#                                        <div class="text-black-50">قیمت فروشنده:<del>{{ product.price|intcomma }}</del></div>#}
{#                                        <div class="bg-danger w-25 rounded-pill text-light d-flex    justify-content-center"> %{{ product.discount }}</div>#}
{#                                        <div class="d-flex justify-content-center"> مبلغ : {{ product.net_price|intcomma }} تومان </div>#}
{#                                    {% else %}#}
{#                                        <div class="text-black"><br><br>#}
{#                                        قیمت فروشنده:{{ product.price|intcomma }}</div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                     </div>#}
{#                 </a>#}
{#                                </div>#}
{#                            </div>#}
{#                          {% elif forloop.counter > 3 and forloop.conter < 8 %}#}
{#                            <div class="owl-item" style="width: 271.333px; margin-right: 10px;">#}
{#                                <div class="item">#}
{#                 <a class="nav-link" href="{% url 'product_id' product.product.id %}">#}
{#                     <div class="d-flex col-3 bg-light">#}
{#                            <div class="  ">#}
{#                                <div><img src="{{ product.product.image.url }}" alt="{{ product.product.name }}"></div>#}
{#                                <div class="  bg-light d-flex row justify-content-center">#}
{#                                        <div class="col-12">{{ product.product.name }}</div>#}
{#                                        <div class="col-12">برند:{{ product.product.brand }}</div>#}
{#                                        <div class="col-12">فروشنده: فروشگاه {{ product.shop }}</div>#}
{#                                        <div class="col-12"> گارانتی اصالت و سلامت</div>#}
{#                                    {% if product.discount > 0  %}#}
{#                                        <div class="text-black-50">قیمت فروشنده:<del>{{ product.price|intcomma }}</del></div>#}
{#                                        <div class="bg-danger w-25 rounded-pill text-light d-flex    justify-content-center"> %{{ product.discount }}</div>#}
{#                                        <div class="d-flex justify-content-center"> مبلغ : {{ product.net_price|intcomma }} تومان </div>#}
{#                                    {% else %}#}
{#                                        <div class="text-black"><br><br>#}
{#                                        قیمت فروشنده:{{ product.price|intcomma }}</div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                     </div>#}
{#                 </a>                                </div>#}
{#                            </div>#}
{#                          {% else %}#}
{#                            <div class="owl-item cloned" style="width: 271.333px; margin-right: 10px;">#}
{#                                <div class="item">#}
{#                 <a class="nav-link" href="{% url 'product_id' product.product.id %}">#}
{#                     <div class="d-flex col-3 bg-light">#}
{#                            <div class="  ">#}
{#                                <div><img src="{{ product.product.image.url }}" alt="{{ product.product.name }}"></div>#}
{#                                <div class="  bg-light d-flex row justify-content-center">#}
{#                                        <div class="col-12">{{ product.product.name }}</div>#}
{#                                        <div class="col-12">برند:{{ product.product.brand }}</div>#}
{#                                        <div class="col-12">فروشنده: فروشگاه {{ product.shop }}</div>#}
{#                                        <div class="col-12"> گارانتی اصالت و سلامت</div>#}
{#                                    {% if product.discount > 0  %}#}
{#                                        <div class="text-black-50">قیمت فروشنده:<del>{{ product.price|intcomma }}</del></div>#}
{#                                        <div class="bg-danger w-25 rounded-pill text-light d-flex    justify-content-center"> %{{ product.discount }}</div>#}
{#                                        <div class="d-flex justify-content-center"> مبلغ : {{ product.net_price|intcomma }} تومان </div>#}
{#                                    {% else %}#}
{#                                        <div class="text-black"><br><br>#}
{#                                        قیمت فروشنده:{{ product.price|intcomma }}</div>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                     </div>#}
{#                 </a>                                </div>#}
{#                            </div>#}
{#                          {% endif %}#}
{#                        {% endfor %}#}
