{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<style>
.divsel {
  height:220px;
  width:100%;
  background:#59cce0;
  z-index:0;
  position: relative;
}

/* text */
.spansel,.asel {
  color:#fff;
  left:50%;
  transform:translate(-50%,-50%);
  position: absolute;
  display: inline-block;
  font-size:30px;
  font-family:'open sans',sans-serif;
  letter-spacing:-1px;
  font-weight:bold;
}
.spansel {
  top:50%;
}
.asel {
  color:#bbb;
  font-size:11px;
  bottom:20px;
  font-weight:400;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:1px;
}
/* Shine */
.divsel:after {
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:220px;
	position: absolute;
	z-index:1;
	animation: slide 1s infinite;

  /*
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/
  */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}
</style>
{% endblock %}
{% block title %}
   صفحه اصلی کالابای
{% endblock %}
{% block body %}
  <div id="ads-contain" class="d-flex justify-content-center flex-row nav-bar border border-secondary" style="height:50%; width:100%">
             <div id="owl-contain" class=".hidden-sm-down col-4 border border-dark">
                <img src="../static/1231241.jpg" alt="ads" width="100%" height="100%" >
            </div>
           <div id="owl-contain" class="col-8 border border-warning">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                 {% for slide in slides %}
                     {% if forloop.first %}
                     <div class="carousel-item active">
                        <img src="{{ slide.background.url }}" alt="{{ slide.background.url }}" width="1100" height="100%">
                        <div class="carousel-caption">
                          <h3>{{ slide.title }}</h3>
                          <p>{{ slide.subtitle }}</p>
                            <a class="btn btn-outline-success" href="{{ slide.action_url }}">{{ slide.action_text }}</a>
                        </div>
                     </div>
                     {% else %}
                        <div class="carousel-item">
                            <img src="{{ slide.background.url }}" alt="{{ slide.background.url }}" width="1100" height="100%">
                            <div class="carousel-caption">
                              <h3>{{ slide.title }}</h3>
                              <p>{{ slide.subtitle }} </p>
                                <a class="btn btn-outline-success" href="{{ slide.action_url }}">{{ slide.action_text }}</a>
                            </div>
                        </div>
                     {% endif %}
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
            </div>

        </div>
        <div id="product-contain" class="d-flex justify-content-between align-items-center flex-row flex-sm-wrap nav-bar border border-info" style="height:50%; width:100%">
            <img src="{% static '/30f43951b8de951f8077e8e157fa4cc34c746338_1608632933.jpg' %}" alt="ads" width="24%" height="90%" >
            <img src="{% static '/3567da43c41c24b7ea9961cd906f3b91e27bc7dc_1609138461.jpg' %}" alt="ads" width="24%" height="90%" >
            <img src="{% static '/61c4359d94bfdd202c8440c0f6f806ea4d43e011_1608633322.jpg' %}" alt="ads" width="24%" height="90%" >
            <img src="{% static '/6ff6d91ec3bac4de70f4939a54eaebc787fe6795_1609078747.jpg' %}" alt="ads" width="24%" height="90%" >
        </div>
        <div id="category-contain" class="d-flex justify-content-center  align-content-center align-items-center flex-row nav-bar" style="height:40%; width:100%">
            {% for category in category_list %}
                <div class="col-2 border  p-1 h-75 justify-content-center ">
                    <div class="bg-light border border-info p-1 h-100 align-content-center">
                    <div class="cat_sel" style="opacity: 0.4; cursor: pointer;  "><a href="{% url 'category_id' category.slug %}"> <img src="{{ category.image.url }}" alt="category name" width="100%" height="100%" ></a>
                    </div>
                    <div>{{ category.name }} </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="most-buy-contain" class="border border-danger d-flex justify-content-start align-items-center flex-row nav-bar border border-info" style="height:40%; width:100%">

            {% for product in products %}
                <div class="d-flex col-3 bg-light border mh-100">
                    <a href="{% url 'product_id' product.id %}">
                    <div class=" h-100 d-inline">
                    <div><img src="{{ product.image.url }}" alt="{{ product.name }}" " ></div>
                    {{ product.name }}<br>
                    برند: {{ product.brand }}
                    </div>
                    </a>
                </div>
            {% endfor %}
            <h2>پر فروش ترینها</h2>
        </div>
        <div id="newer-contain" class="d-flex justify-content-center align-items-center flex-row nav-bar border border-info" style="height:40%; width:100%">
            <div class="owl-carousel owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3375px, 0px, 0px); transition: all 0s ease 0s; width: 6752px;"><div class="owl-item cloned" style="width: 271.333px; margin-right: 10px;">
                    <div class="item">
                    <h4>13</h4>
                  </div></div><div class="owl-item cloned" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>14</h4>
                  </div></div><div class="owl-item cloned" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>15</h4>
                  </div></div><div class="owl-item cloned" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>16</h4>
                  </div></div><div class="owl-item cloned" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>17</h4>
                  </div></div><div class="owl-item cloned" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>18</h4>
                  </div></div><div class="owl-item" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>1</h4>
                  </div></div><div class="owl-item" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>2</h4>
                  </div></div><div class="owl-item" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>3</h4>
                  </div></div><div class="owl-item" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>4</h4>
                  </div></div><div class="owl-item" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>5</h4>
                  </div></div><div class="owl-item" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>6</h4>
                  </div></div><div class="owl-item active" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>7</h4>
                  </div></div><div class="owl-item active" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>8</h4>
                  </div></div><div class="owl-item active" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>9</h4>
                  </div></div><div class="owl-item" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>10</h4>
                  </div></div><div class="owl-item" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>11</h4>
                  </div></div><div class="owl-item" style="width: 271.333px; margin-right: 10px;"><div class="item">
                    <h4>12</h4>
                  </div>
                </div></div></div>
        </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
     $(document).ready(() => {
    $(".cat_sel").hover(function(){
       $(this).css("opacity", "1.0");
    }, function(){
       $(this).css("opacity", "0.4");
    });
});
    </script>
{% endblock %}